.App {
  text-align: center;
}


.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.title{
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightblue;
  float: left;
  font-size: 11px;
  text-align: left;
}

.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
}

.input {
  border: 0;
  background: none;
  outline: none;
  margin-top: 10px;
  width: 140px;
  font-size: 11px;
}

.input:focus {
  border: solid 1px lightgray;
}

textarea {
  resize: none;
  height: 90px;
  font-size: 11px;
}

.deleteButton{
  visibility: hidden;
  float: right;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  color: red;
}

.title:hover .deleteButton{
  visibility: visible;
}
